:root {
  --primary-color: #673ab7;
  --primary-color-light: rgba(103, 58, 183, 0.1);

  --text-dark: #424242;
  --text-muted: #757575;

  --border-color: #e0e0e0;
  --bg-light: #f9f9f9;

  --success-bg: #e8f5e9;
  --success-border: #c8e6c9;
  --success-icon: #4caf50;
  --danger-hover: #f44336;
  --danger-hover-bg: rgba(244, 67, 54, 0.1);
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 12px !important;
  overflow: hidden !important;
}
