/* * =================================
 * ARQUIVO GLOBAL (styles.scss)
 * =================================
*/

/* Definição das Variáveis Globais de Tema */
:root {
  --primary-color: #673ab7; /* Cor primária (Ex: Deep Purple) */
  --primary-color-light: rgba(103, 58, 183, 0.1); /* Tom claro da cor primária */

  /* Cores de Texto */
  --text-dark: #424242; /* Textos principais, títulos */
  --text-muted: #757575; /* Textos secundários, placeholders, ícones */

  /* Cores de Fundo e Bordas */
  --border-color: #e0e0e0; /* Cor da borda padrão */
  --bg-light: #f9f9f9; /* Fundo de áreas de upload, etc. */

  /* Cores Semânticas (Feedback) */
  --success-bg: #e8f5e9;
  --success-border: #c8e6c9;
  --success-icon: #4caf50;
  --danger-hover: #f44336;
  --danger-hover-bg: rgba(244, 67, 54, 0.1);
}

/* * Estilo Global para Angular Material Dialogs
 * Isso remove o padding padrão e adiciona bordas arredondadas
 * para TODOS os mat-dialogs do seu app, permitindo 
 * que os headers/footers ocupem 100% da largura.
*/
.mat-dialog-container {
  padding: 0 !important;
  border-radius: 12px !important;
  overflow: hidden !important; /* Garante que o conteúdo não vaze */
}